<div class="container">
  <section class="register">
    <div class="media" lazyLoad="assets/images/register-side.jpg">
      <article class="register-form">
        <h2>Register an account</h2>

        <form
          class="register"
          #registerForm="ngForm"
          (ngSubmit)="handleRegister()"
          >
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="text"
              placeholder="Type your email"
              name="email"
              ngModel
              #email="ngModel"
              required
              appEmailValidate
              />
              <div class="errors">
                @if (email.touched) {
                  @if (email.getError('required')) {
                    <p class="error">
                      Email is required!
                    </p>
                  }
                  @if (email.getError('email')) {
                    <p class="error">
                      Invalid email!
                    </p>
                  }
                }
              </div>
            </div>

            <div class="input-group">
              <label for="username">Username</label>
              <input
                type="text"
                placeholder="Type your username"
                name="username"
                ngModel
                #username="ngModel"
                minlength="5"
                required
                />
                <div class="errors">
                  @if (username.touched) {
                    @if (username.getError('minlength')) {
                      <p class="error">
                        Username must be atleast 5 characters long!
                      </p>
                    }
                    @if (username.getError('required')) {
                      <p class="error">
                        Username is required
                      </p>
                    }
                  }
                </div>
              </div>
              <div
                ngModelGroup="passwords"
                #passwords="ngModelGroup"
                appMatchPasswords
                >
                <div class="input-group password">
                  <label for="">Password</label>
                  <input
                    [type]="showPass() ? 'text' : 'password'"
                    placeholder="Type your password"
                    name="password"
                    ngModel
                    #password="ngModel"
                    required
                    minlength="6"
                    />
                    <div class="errors">
                      @if (password.touched) {
                        @if (password.getError('required')) {
                          <p class="error">
                            Password is required
                          </p>
                        }
                        @if (password.getError('minlength')) {
                          <p class="error">
                            Password must be atleast 6 characters long
                          </p>
                        }
                      }
                    </div>
                  </div>

                  <div class="input-group password">
                    <label for="">Repeat password</label>
                    <input
                      [type]="showPass() ? 'text' : 'password'"
                      placeholder="Type your password again"
                      name="rePassword"
                      ngModel
                      #rePassword="ngModel"
                      required
                      [class]="passwords.getError('passwords') ? 'ng-invalid' : ''"
                      />
                      <div class="show-pass" (click)="toggleShowPass()">
                        <i
                          class="fa-solid"
                          [class.fa-eye]="showPass()"
                          [class.fa-eye-slash]="!showPass()"
                        ></i>
                      </div>
                      <div class="errors">
                        @if (password.touched && rePassword.touched) {
                          @if (passwords.getError('passwords')) {
                            <p class="error">
                              Passwords do not match!
                            </p>
                          }
                        }
                      </div>
                    </div>
                  </div>

                  <button
                    class="register-btn"
                    [disabled]="registerForm.invalid ? true : false"
                    >
                    @if (!isLoading()) {
                      <p>Register</p>
                    }
                    @if (isLoading()) {
                      <app-loader
                        type="dots"
                        diameter="14px"
                        width="7px"
                      ></app-loader>
                    }
                  </button>
                </form>
                <div class="login-redirect">
                  <p>Or</p>
                  <a routerLink="../login">Login</a>
                </div>
              </article>
            </div>
          </section>
        </div>
