<div class="container">
  <section class="login">
    <article class="login-form">
      <h2>Login to your account</h2>

      <form action="" class="login" [formGroup]="loginForm">
        <div class="input-group">
          <label for="">Email</label>
          <input
            type="text"
            placeholder="Type your email"
            formControlName="email"
            appEmailValidate
            />
            <div class="errors">
              @if (loginForm.get('email')?.touched) {
                @if (loginForm.get('email')?.errors?.['required']) {
                  <p
                    class="error"
                    >
                    Email is required!
                  </p>
                }
                @if (loginForm.get('email')?.errors?.['email']) {
                  <p
                    class="error"
                    >
                    Invalid email!
                  </p>
                }
              }
            </div>
          </div>

          <div class="input-group password">
            <label for="">Password</label>
            <input
              [type]="showPass() ? 'text' : 'password'"
              placeholder="Type your password"
              formControlName="password"
              />
              <div class="show-pass" (click)="toggleShowPass()">
                <i
                  class="fa-solid"
                  [class.fa-eye]="showPass()"
                  [class.fa-eye-slash]="!showPass()"
                ></i>
              </div>
              <div class="errors">
                @if (loginForm.get('password')?.touched) {
                  @if (loginForm.get('password')?.errors?.['required']) {
                    <p
                      class="error"
                      >
                      Password is required!
                    </p>
                  }
                }
              </div>
            </div>

            <button
              class="login-btn"
              [disabled]="loginForm.invalid"
              (click)="handleLoginSubmit()"
              >
              @if (!isLoading()) {
                <p>Login</p>
              }
              @if (isLoading()) {
                <app-loader
                  type="dots"
                  diameter="14px"
                  width="7px"
                  />
              }
            </button>
          </form>
          <div class="register-redirect">
            <p>Or</p>
            <a routerLink="../register">Register</a>
          </div>
        </article>
        <article class="media">
          <img
            src="assets/images/login-side2-small.jpg"
            lazyLoad="assets/images/login-side2.jpg"
            alt=""
            />
          </article>
        </section>
      </div>
